extends layout

block header
    include header
block content
  h1(class='headertext')= title
  each post in posts
      div(class="container-fluid")
          div(class="col-md-6 col-md-offset-3 postdiv")
              p(class="date")= post.date 
              p(class="time")= post.time
              p(class="post")!= post.post
  if lastpage
          p(class="post") Last post reached
  if !lastpage
      - var oldposts = parseInt(current)+5
      a(href=oldposts, class="lastposts")  Last 5 Posts
