extends layout
block header
    include header
block content
  h1(class='headertext')= title
  +chitika
  each post in posts
      div(class="container-fluid")
          div(class="col-md-6 col-md-offset-3 postdiv")
              p(class="date")= post.date 
              p(class="time")= post.time
              p(class="post")!= post.post
  if lastpage
          p(class="post") Last post reached
  if !lastpage
      - var oldposts = parseInt(current)+5
      a(href=oldposts, class="lastposts")  Last 5 Posts
  script(class="amazon" src='https://z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=7e0cc770-9068-424f-b5cf-84c70dd7ff90')

