doctype html
html
  head
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)
        },i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-89623333-1', 'auto');
        ga('send', 'pageview');
    script.
        var _paq = _paq || [];
        q = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//csearch.us/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://bootswatch.com/yeti/bootstrap.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:700')
  body
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WWQLK2P', height='0', width='0', style='display:none;visibility:hidden')
    block header
    block content
